# Required for docker compose and local run
RATE_PROVIDER_ACCESS_TOKEN=

# Optional (docker compose already provides internally; only for local run)

POSTGRES_DSN=postgres://postgres:postgres@localhost:5432/fx_rate_service?sslmode=disable
MIGRATIONS_DIR=./migrations

HTTP_ADDR=:8080

RATE_PROVIDER_BASE_URL=https://api.exchangeratesapi.io

REFRESH_WORKER_NUM=4
REFRESH_WORKER_QUEUE_SIZE=50
REFRESH_SWEEP_INTERVAL=30s
REFRESH_STALE_AFTER=5m

APP_ENV=development
